@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: green;
    --invalid-color: red;
}


* {
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,113,1) 50%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);;
    font-family: 'open sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
}

.container {
    background-color: rgb(9, 174, 207);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    margin-top: 50px;
    height: 40%;
}

.container h2 {
    text-align: center;
}

.form {
    padding: 10px 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: black;
    display: block;
    margin-bottom: 3px;
}

.form-control input {
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.form-control small{
    text-align: center;
    font-weight: bold;
}

.form-control input:focus {
    outline: 0;
    border: 1.5px solid black;
    border-radius: 5px;
}

.form-control.success input {
    border: 2px solid var(--success-color);
}

.form-control.invalid input {
    border: 2px solid var(--invalid-color);
}

.form-control small {
    color: var(--invalid-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.invalid small {
    visibility: visible;
}

.form button {
    border-radius: 5px;
    background-color:  rgba(9,9,121,1);
    border: 2px solid rgba(9,9,121,1);
    text-align: center;
    display: block;
    color: cornsilk;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    width: 49%;
    font-weight: bold;
    float: left;
}

.form button:hover{
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
}

.homebutton{
    background-color:rgba(9,9,121,1);
    border-radius: 5px;
    margin-top: 10px;
    width: 50%;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    margin-left: 2%;
    width: 49%;
    font-weight: bold;
    text-align: center;
    float: right;
}

.homebutton:hover{
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
}

.homebutton a{
    text-decoration: none;
    font-size: 16px;
    color: cornsilk;
    font-weight: bold;
}
