@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,113,1) 50%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);;
    font-family: 'open sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
}

.container {
    background-color: rgb(134, 18, 18);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    margin-top: 30px;
    height: 40%;
}

.container h2 {
    text-align: center;
}

.form {
    padding: 10px 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    color: black;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border-radius: 5px;
    border: 2px solid black;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form button {
    border-radius: 5px;
    background-color: blue;
    text-align: center;
    color: cornsilk;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    margin-left: 60px;
}

.form button:hover{
    box-shadow: 3px 5px 10px black;
    cursor: pointer;
}
